.form-wrapper {
    max-width: 500px;
    background: #fff;
    margin: 0 auto;
    padding: 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-top: 50px;
}
.form-wrapper input {
    width: 100%;
    padding: 12px 8px;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
}
.login {
    color: rgb(252, 120, 44);
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}
.form-heading {
    margin: 10px 0;
}
.large-btn {
    padding: 8px 12px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background: none;
    width: 70%;
    display: block;
    margin: 0 auto;
    border: 1px solid lightgray;
    background-image: url("../../images/google-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
